body {
    background-color: #f1f1f1;
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #084951;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #FFB800;
    outline: 1px solid red;
}

.color-blue{color:#1D92AF}
.color-segreen{color:#3F7577}
.color-orang{color:#CE7B11}

.padding-top > .col-md-6{padding-bottom:15px;}
