@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Roboto+Condensed|Titan+One|Ubuntu+Condensed');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu Condensed';
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}
.navbar {
    /* background-color: #cbd4d3; */
    background-color: #f8f9fa;
}
#mainNav .navbar-brand img {
    height: 70px;
    width: 150px;
    float: left;
}
.navbar-nav {
    margin: 0 auto;
}
.nav-link {
    font-size: 1rem;
    margin: 8px;
    color: black !important;
    font-family: 'Roboto Condensed';
}
.nav-link:hover {
    color: #fff !important;
}
.active .nav-link {
    color: #fff !important;
}
.menu-right-button {
    padding: 7px 14px;
    margin: 3px;
    background-color: transparent;
    transition: all 300ms ease-in;
    font-family: 'Roboto Condensed';
}
.menu-right-button:hover {
    background-color: #fff;
    color: #000;
}

/** Carousel Section **/
.carousel-inner .carousel-item img {
    max-height: 600px;
    max-width: auto;
}
/*** section ***/
.heading-1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2.5%;
    text-align: center;
}
.paragraph-1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: justify;
}

/*** Card ***/
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: transparent;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.card .card-height-indicator {
    margin-top: 100%;
}
.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}
.card .card-img-top {
    height: 210px;
}
.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}
.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}
.card .category:not([class*="text-"]) {
    color: #999999;
}
.card .card-content {
    padding: 15px 20px;
}
.card .card-content .category {
    margin-bottom: 0;
}
.card-content .table-responsive img {
    height: 150px;
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}
.card .card-header .title {
    color: #FFFFFF;
}
.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}
.card .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}
.card .card-header.card-chart + .content h4 {
    margin-top: 0;
}
.card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}
.card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}
.card .card-header .ct-series-a .ct-point, .card .card-header .ct-series-a .ct-line, .card .card-header .ct-series-a .ct-bar, .card .card-header .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}
.card .card-header .ct-series-a .ct-slice-pie, .card .card-header .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}
.card .card-text {
    color: rgba(0, 0, 0, 0.5);
}
.card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}
.card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}
.card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}
.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
.card .card-footer .content {
    display: block;
}
.card .card-footer div {
    display: inline-block;
}
.card .card-footer .author {
    color: #999999;
}
.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}
.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}
.card .card-footer h6 {
    color: #999999;
}
.card img {
    width: 100%;
    height: auto;
}
.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}
.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}
.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.card .author a {
    color: #3C4858;
    text-decoration: none;
}
.card .author a .ripple-container {
    display: none;
}
.card .table {
    margin-bottom: 0;
}
.card .table tr:first-child td {
    border-top: none;
}
.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #0e6155, #74f5e3);
   /*box-shadow: 0 12px 20px -5px #bfeaf6, 0 4px 20px 0px #bfeaf6, 0 7px 8px -5px #bfeaf6;
   */
}
.card [data-background-color] {
    color: #FFFFFF;
}
.card [data-background-color] a {
    color: #FFFFFF;
}
.card-stats .title {
    margin: 0;
}
.card-stats .card-header {
    float: left;
    text-align: center;
}
.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}
.card-nav-tabs .header-raised {
    margin-top: -30px;
}
.card-nav-tabs .nav-tabs {
    background: transparent;
    padding: 0;
}
.card-nav-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}
.card-plain {
    background: transparent;
    box-shadow: none;
}
.card-plain .card-header {
    margin-left: 0;
    margin-right: 0;
}
.card-plain .content {
    padding-left: 5px;
    padding-right: 5px;
}
.card-plain .card-image {
    margin: 0;
    border-radius: 3px;
}
.card-plain .card-image img {
    border-radius: 3px;
}
.card .card-body {
    text-align: center;
}

/*** Button Read More ***/
.btn-outline-read-more {
  color: #74f5e3;
  background-color: transparent;
  background-image: none;
  border-color: #74f5e3;
}
.btn-outline-read-more:hover {
  color: #fff;
  background-color: #74f5e3;
  border-color: #74f5e3;
}
.btn-outline-read-more:focus, .btn-outline-read-more.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-read-more.disabled, .btn-outline-read-more:disabled {
  color: #74f5e3;
  background-color: transparent;
}

/*** Contact Us Section ***/
#contact {
  position: relative;
  overflow: hidden;
}
#contact #contactForm {
  margin-top: 30px;
}
.section-padding {
  padding: 60px 0;
}
.contact-form-area {
  background: #fff;
  box-shadow: 0 0 30px #ededed;
  padding: 60px 40px;
}
.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}
.footer-right-contact {
  padding: 4px;
  border: 1px solid #e1e1e1;
  margin-top: 30px;
}
.footer-right-contact .single-contact {
  margin: 10px 22px;
  padding: 3px 55px;
  position: relative;
  color: #666;
}
.footer-right-contact .single-contact p {
  margin-bottom: 5px;
}
.footer-right-contact .single-contact p a {
  color: #666;
}
.footer-right-contact .contact-icon {
  background: #00b4d9;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}
.btn-common {
  background-color: #00b4d9;
  color: #fff;
  position: relative;
  z-index: 1;
}
.btn-common:hover {
  color: #fff;
  background-color: #21cff3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

/*** Who are we and What's our goal? */
#services {
    padding: 5%;
    margin-bottom: 5%;
}
#services .img-thumb {
    /* border: 8px solid #fff; */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/*** Footer Area ***/
.footer-area {
    background: #74f5e3;
}
.footer-area .footer-text p {
    font-size: 16px;
    margin-top: 20px;
    color: #000;
}
.footer-area .footer-text p a {
    color: #00b4d9;
}
.footer-area .footer-text .nav-inline .nav-link {
    padding: 11px 7px;
    color: #888;
}
.footer-area .footer-text .nav-inline .nav-link:hover {
    color: #00b4d9;
}
.social-icon li {
    display: inline-block;
}
.social-icon li a {
    color: #000;
    background: #fff;
    width: 35px;
    height: 35px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 6px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.social-icon li a:hover {
    color: #fff;
}
.social-icon li .facebook:hover {
    background: #3b5999;
}
.social-icon li .twitter:hover {
    background: #4A9CEC;
}
.social-icon li .instagram:hover {
    background: #D6274D;
}
.social-icon li .linkedin:hover {
    background: #1260A2;
}
.social-icon li .google:hover {
    background: #CE332A;
}
.social-icon li .youtube:hover {
    background: RED;
}
.social-icon li .dribbble:hover {
    background: #F468BF;
}

/*** ScrollToTop ***/
a.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
}
a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #00b4d9;
    border-radius: 2px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
a.back-to-top:hover, a.back-to-top:focus {
    text-decoration: none;
}
=======
@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Roboto+Condensed|Titan+One|Ubuntu+Condensed');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu Condensed';
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}
.navbar {
    /* background-color: #74f5e3; */
}
#mainNav .navbar-brand img {
    height: 70px;
    width: 150px;
    float: left;
}
.navbar-nav {
    margin: 0 auto;
}
.nav-link {
    font-size: 1rem;
    margin: 8px;
    color: black !important;
    font-family: 'Roboto Condensed';
}
.nav-link:hover {
    color: #fff !important;
}
.active .nav-link {
    color: #fff !important;
}
.menu-right-button {
    padding: 7px 14px;
    margin: 3px;
    background-color: transparent;
    transition: all 300ms ease-in;
    font-family: 'Roboto Condensed';
}
.menu-right-button:hover {
    background-color: #fff;
    color: #000;
}

/** Carousel Section **/
.carousel-inner .carousel-item img {
    max-height: 600px;
    max-width: auto;
}
/*** section ***/
.heading-1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2.5%;
    text-align: center;
}
.paragraph-1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: justify;
}

/*** Card ***/
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: transparent;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.card .card-height-indicator {
    margin-top: 100%;
}
.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}
.card .card-img-top {
    height: 210px;
}
.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}
.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}
.card .category:not([class*="text-"]) {
    color: #999999;
}
.card .card-content {
    padding: 15px 20px;
}
.card .card-content .category {
    margin-bottom: 0;
}
.card-content .table-responsive img {
    height: 150px;
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}
.card .card-header .title {
    color: #FFFFFF;
}
.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}
.card .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}
.card .card-header.card-chart + .content h4 {
    margin-top: 0;
}
.card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}
.card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}
.card .card-header .ct-series-a .ct-point, .card .card-header .ct-series-a .ct-line, .card .card-header .ct-series-a .ct-bar, .card .card-header .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}
.card .card-header .ct-series-a .ct-slice-pie, .card .card-header .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}
.card .card-text {
    color: rgba(0, 0, 0, 0.5);
}
.card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}
.card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}
.card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}
.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
.card .card-footer .content {
    display: block;
}
.card .card-footer div {
    display: inline-block;
}
.card .card-footer .author {
    color: #999999;
}
.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}
.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}
.card .card-footer h6 {
    color: #999999;
}
.card img {
    width: 100%;
    height: auto;
}
.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}
.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}
.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}
.card .author a {
    color: #3C4858;
    text-decoration: none;
}
.card .author a .ripple-container {
    display: none;
}
.card .table {
    margin-bottom: 0;
}
.card .table tr:first-child td {
    border-top: none;
}
.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #0e6155, #74f5e3);
   /*box-shadow: 0 12px 20px -5px #bfeaf6, 0 4px 20px 0px #bfeaf6, 0 7px 8px -5px #bfeaf6;
   */
}
.card [data-background-color] {
    color: #FFFFFF;
}
.card [data-background-color] a {
    color: #FFFFFF;
}
.card-stats .title {
    margin: 0;
}
.card-stats .card-header {
    float: left;
    text-align: center;
}
.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}
.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}
.card-nav-tabs .header-raised {
    margin-top: -30px;
}
.card-nav-tabs .nav-tabs {
    background: transparent;
    padding: 0;
}
.card-nav-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}
.card-plain {
    background: transparent;
    box-shadow: none;
}
.card-plain .card-header {
    margin-left: 0;
    margin-right: 0;
}
.card-plain .content {
    padding-left: 5px;
    padding-right: 5px;
}
.card-plain .card-image {
    margin: 0;
    border-radius: 3px;
}
.card-plain .card-image img {
    border-radius: 3px;
}
.card .card-body {
    text-align: center;
}

/*** Button Read More ***/
.btn-outline-read-more {
  color: #74f5e3;
  background-color: transparent;
  background-image: none;
  border-color: #74f5e3;
}
.btn-outline-read-more:hover {
  color: #fff;
  background-color: #74f5e3;
  border-color: #74f5e3;
}
.btn-outline-read-more:focus, .btn-outline-read-more.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-read-more.disabled, .btn-outline-read-more:disabled {
  color: #74f5e3;
  background-color: transparent;
}

/*** Contact Us Section ***/
#contact {
  position: relative;
  overflow: hidden;
}
#contact #contactForm {
  margin-top: 30px;
}
.section-padding {
  padding: 60px 0;
}
.contact-form-area {
  background: #fff;
  box-shadow: 0 0 30px #ededed;
  padding: 60px 40px;
}
.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}
.footer-right-contact {
  padding: 4px;
  border: 1px solid #e1e1e1;
  margin-top: 30px;
}
.footer-right-contact .single-contact {
  margin: 10px 22px;
  padding: 3px 55px;
  position: relative;
  color: #666;
}
.footer-right-contact .single-contact p {
  margin-bottom: 5px;
}
.footer-right-contact .single-contact p a {
  color: #666;
}
.footer-right-contact .contact-icon {
  background: #00b4d9;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}
.btn-common {
  background-color: #00b4d9;
  color: #fff;
  position: relative;
  z-index: 1;
}
.btn-common:hover {
  color: #fff;
  background-color: #21cff3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

/*** Who are we and What's our goal? */
#services {
    padding: 5%;
    margin-bottom: 5%;
}
#services .img-thumb {
    /* border: 8px solid #fff; */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/*** Footer Area ***/
.footer-area {
    background: #74f5e3;
}
.footer-area .footer-text p {
    font-size: 16px;
    margin-top: 20px;
    color: #000;
}
.footer-area .footer-text p a {
    color: #00b4d9;
}
.footer-area .footer-text .nav-inline .nav-link {
    padding: 11px 7px;
    color: #888;
}
.footer-area .footer-text .nav-inline .nav-link:hover {
    color: #00b4d9;
}
.social-icon li {
    display: inline-block;
}
.social-icon li a {
    color: #000;
    background: #fff;
    width: 35px;
    height: 35px;
    line-height: 38px;
    display: block;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    margin: 15px 6px 12px 6px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.social-icon li a:hover {
    color: #fff;
}
.social-icon li .facebook:hover {
    background: #3b5999;
}
.social-icon li .twitter:hover {
    background: #4A9CEC;
}
.social-icon li .instagram:hover {
    background: #D6274D;
}
.social-icon li .linkedin:hover {
    background: #1260A2;
}
.social-icon li .google:hover {
    background: #CE332A;
}
.social-icon li .youtube:hover {
    background: RED;
}
.social-icon li .dribbble:hover {
    background: #F468BF;
}

/*** ScrollToTop ***/
a.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
}
a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #00b4d9;
    border-radius: 2px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
a.back-to-top:hover, a.back-to-top:focus {
    text-decoration: none;
}
