@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Roboto+Condensed|Titan+One|Ubuntu+Condensed');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu Condensed';
}

<<<<<<< HEAD
nav a {
    width: 55%;
}
=======
>>>>>>> d7a2c0080cdf713ed0c2cde706c731d5794d37a2
.navbar {
    background-color: #74f5e3;
}

.navbar-brand {
    font-family: 'Lobster';
    font-size: 45px;
    color: lightcoral !important;
}

.nav-link {
    font-size: 1rem;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #fff !important;
}

.active .nav-link {
    color: #fff !important;
}

.menu-right-button {
    padding: 13px 21px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
    font-family: 'Roboto Condensed';
}

.menu-right-button:hover {
    background-color: #74f5e3;
    color: white;
}

/** Card Section **/
.section-2 {
    margin-bottom: 7%;
}
<<<<<<< HEAD
.padding {
    padding-bottom: 2rem;
}
=======

>>>>>>> d7a2c0080cdf713ed0c2cde706c731d5794d37a2
.section-2 .heading-1 {
    margin-top: 5%;
}

.section-2 .heading-2 {
    margin-bottom: 3%;
}

.section-2 .paragraph-1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.section-2 .card {
    width: 20rem;
    border-radius: rounded;
    -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.section-2 .card-text, .paragraph-1 {
    color: rgba(0, 0, 0, 0.5);
}
.section-3 {
    margin-bottom: 3%;
}
.section-3 div.row {
    padding: 5%;
}
.section-3 div.row p {
    color:rgba(0,0,0,.5);
    font-size: 1.2rem;
}
.section-3 div.row .slide .carousel-inner .carousel-item img {
    height: 600px;
    width: 100%;
}
.section-4 {
    margin-bottom: 5%;
    padding: 5%;
}

.section-4 .container i {
    color: #fff;
}

.section-4 p {
    color: rgba(0, 0, 0, 0.5);
}

.section-4 .heading-1 {
    margin-bottom: 5%;
    font-family: 'Titan One';
    text-transform: uppercase;
    font-size: 2rem;
}

.section-5 .heading-1 {
    margin-top: 5%;
}

.section-5 .heading-2 {
    margin-bottom: 5%;
    font-size: 2.0rem;
}

.section-5 .paragraph-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-5 .card-text, .paragraph-1 {
    color: rgba(0, 0, 0, 0.5);
}

.section-5 .card {
    width: 21rem;
    border-radius: rounded;
    -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Our Partners Slider */

h2{
  text-align:center;
  padding: 25px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 80%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#contact-map {
    height: 450px;
    width: 100%;
    position: relative;
}

.contact-section {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e9e8;
}

.contact-section .contact-icon {
    float: left;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 25px;
    color: #34b2a4;
    padding-right: 20px;
    position: initial;
}

.contact-section .contact-info {
    padding-top: 10px;
    font-weight: 700;
}

.contact-social {}

.contact-social ul {}

.contact-social ul li {
    float: left;
}

.contact-social ul li a {
    font-size: 16px;
    padding-right: 10px;
    color: #6b6c6d;
}

.contact-social ul li a:hover {
    color: #74f5e3;
}

#services{
    color: #563535;
}

#services div.row {
    padding: 5%;
}

#services div.row p {
    color:rgba(0,0,0,.5);
    font-size: 1.2rem;
}

#services div.row h3 {
    font-size: 2rem;
    font-weight: 750px;
}

#services div.row .slide .carousel-inner .carousel-item img {
    height: 500px;
    width: 100%;
}

#footer {
    background: #74f5e3 !important;
    padding: 2rem;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#130909;
}
#footer a {
    color: #130909;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#130f0f;
}
#footer ul.social li a:hover{
	color:#130909;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .section-2 .card {
      width: 13.9rem;
      border-radius: rounded;
      -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .section-2 .container-fluid .row .col-md-3 {
      margin-bottom: 20px;
  }
  .section-3 div.row {
      padding: 0%;
  }
  .section-4 .heading-1 {
      margin-bottom: 5%;
      font-family: 'Titan One';
      text-transform: uppercase;
      font-size: 1.9rem;
  }
  .section-4 h3 {
      font-size: 1.4rem;
      font-weight: 500;
  }
  .section-5 .heading-1 {
      font-size: 1.9rem;
  }

  .section-5 .heading-2 {
      font-size: 1.4rem;
  }
  .section-5 .card {
      width: 19rem;
  }
  .section-5 .container .row .col-md-4 {
      margin-bottom: 20px;
  }
  #services {
      margin-bottom: 3%;
  }
  #services div.row {
      padding: 0%;
  }
  #services div.row p {
      color:rgba(0,0,0,.5);
      font-size: 1.3rem;
  }
  #services div.row .slide .carousel-inner .carousel-item img {
      height: 600px;
      width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
<<<<<<< HEAD
=======
    nav a {
        width: 55%;
    }
>>>>>>> d7a2c0080cdf713ed0c2cde706c731d5794d37a2
    .section-2 .container-fluid .row .col-md-3 {
        margin-bottom: 20px;
    }
    .section-2 .card {
        width: 11.7rem;
    }
    .section-3 div.row {
        padding: 0%;
    }
    .section-3 div.row p {
        font-size: 1rem;
    }
    .section-3 div.row .slide .carousel-inner .carousel-item img {
        height: 500px;
        width: 100%;
    }
    .section-4 .heading-1 {
        font-size: 1.7rem;
    }
    .section-4 h3 {
        font-size: 1.3rem;
    }
    .section-5 .heading-1 {
        font-size: 1.8rem;
    }

    .section-5 .heading-2 {
        font-size: 1.2rem;
    }
    .section-5 .card {
        width: 14rem;
    }
    .section-5 .container .row .col-md-4 {
        margin-bottom: 20px;
    }
    #services div.row {
        padding: 0%;
    }
    #services div.row p {
        font-size: 1.1rem;
    }
    #services div.row .slide .carousel-inner .carousel-item img {
        height: 500px;
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width: 375px) {
<<<<<<< HEAD
=======
    nav a {
        width: 55%;
    }
>>>>>>> d7a2c0080cdf713ed0c2cde706c731d5794d37a2
    .section-2 .card {
        width: 22rem;
        border-radius: rounded;
        -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .section-2 .container-fluid .row .col-md-3 {
        margin-bottom: 20px;
    }
    .section-3 div.row {
        padding: 0%;
    }
    .section-3 div.row p {
        font-size: 1rem;
    }
    .section-3 div.row .slide .carousel-inner .carousel-item img {
        height: 400px;
        width: 100%;
    }
    .section-4 .heading-1 {
        margin-bottom: 5%;
        font-family: 'Titan One';
        text-transform: uppercase;
        font-size: 1.9rem;
    }
    .section-4 h3 {
        font-size: 1.4rem;
    }
    .section-5 .heading-1 {
        font-size: 1.9rem;
    }

    .section-5 .heading-2 {
        font-size: 1.4rem;
    }
    .section-5 .container .row .col-md-4 {
        margin-bottom: 20px;
    }
    #services div.row p {
        color:rgba(0,0,0,.5);
        font-size: 1rem;
    }
    #services div.row .slide .carousel-inner .carousel-item img {
        height: 350px;
        width: 100%;
    }
}
