@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Roboto+Condensed|Titan+One|Ubuntu+Condensed');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu Condensed';
}
/*** .black-bg { background: #171717 !important; }
.header-top-area{}
.header-icon {
    margin-top: 5px;
}
.header-icon a {
    color: #ffffff;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-left: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.header-icon a:hover {
    color:#3452ff;
}
.top-right{}
.top-right li {
    border-right: 1px solid #444444;
    color: #eeeeee;
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
}
.top-right li:last-child {
    border:0
}
.top-right li:first-child {
    padding-left:0
}
.top-right li i {
    margin-right: 5px;
}.top-right li i {
    margin-right: 5px;
}
.top-right li span {
    font-size: 13px;
    font-weight: 400;
}
.top-right li a {
    color: #eeeeee;
    font-size: 13px;
    font-weight: 400;
}
.floatright {
    float:right
} ***/
nav a {
    width: 55%;
}
#mainNav.black {
    background: rgba(116, 245, 227, 1);
    height: 60px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}
#mainNav .navbar-brand img {
    height: auto;
    width: 50%;
    float: left;
}
.navbar {
    background-color: #74f5e3;
}
.nav-link {
    font-size: 1rem;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #fff !important;
}

.active .nav-link {
    color: #fff !important;
}

.menu-right-button {
    padding: 13px 21px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
    font-family: 'Roboto Condensed';
}

.menu-right-button:hover {
    background-color: #74f5e3;
    color: white;
}

/** Card Section **/
.section-2 {
    margin-bottom: 7%;
}
.padding {
    padding-bottom: 2rem;
}
.section-2 .heading-1 {
    margin-top: 5%;
}

.section-2 .heading-2 {
    margin-bottom: 3%;
}

.section-2 .paragraph-1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.section-2 .card {
    width: 20rem;
    border-radius: rounded;
    -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.section-2 .card-text, .paragraph-1 {
    color: rgba(0, 0, 0, 0.5);
}

.section-3 div.row p {
    color:rgba(0,0,0,.5);
    font-size: 1.2rem;
}
.section-3 div.row .slide .carousel-inner .carousel-item img {

}
.section-4 {
    margin-bottom: 3%;
    padding: 3%;
}

.section-4 .container i {
    color: #fff;
}
.section-4 .container .row .col-md-4 img .image-fluid {
    width: 100%;
    display: block;
}

.section-4 .heading-1 {
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: 2rem;
}

.section-5 .heading-1 {
    margin-top: 5%;
}

.section-5 .heading-2 {
    margin-bottom: 5%;
    font-size: 2.0rem;
}

.section-5 .paragraph-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-5 .card-text, .paragraph-1 {
    color: rgba(0, 0, 0, 0.5);
}

.section-5 .card {
    width: 21rem;
    border-radius: rounded;
    -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Our Partners Slider */

h2{
  text-align:center;
  padding: 25px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 80%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#contact-map {
    height: 450px;
    width: 100%;
    position: relative;
}

.contact-section {
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e9e8;
}

.contact-section .contact-icon {
    float: left;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 25px;
    color: #34b2a4;
    padding-right: 20px;
    position: initial;
}

.contact-section .contact-info {
    padding-top: 10px;
    font-weight: 700;
}

.contact-social {}

.contact-social ul {}

.contact-social ul li {
    float: left;
}

.contact-social ul li a {
    font-size: 16px;
    padding-right: 10px;
    color: #6b6c6d;
}

.contact-social ul li a:hover {
    color: #74f5e3;
}

#services{
    color: #563535;
}

#services div.row {
    padding: 5%;
}

#services div.row p {
    color:rgba(0,0,0,.5);
    font-size: 1.2rem;
}

#services div.row h3 {
    font-size: 2rem;
    font-weight: 750px;
}

#services div.row .slide .carousel-inner .carousel-item img {
    height: 500px;
    width: 100%;
}
/*** Contact Us ***/

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(219,21,99,0.8);
  background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(45deg, #d5007d, #e53935);
  background: -o-linear-gradient(45deg, #d5007d, #e53935);
  background: -moz-linear-gradient(45deg, #d5007d, #e53935);
  background: linear-gradient(45deg, #d5007d, #e53935);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;



  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;


}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}


#footer {
    background: #74f5e3 !important;
    padding: 2rem;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#130909;
}
#footer a {
    color: #130909;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#130f0f;
}
#footer ul.social li a:hover{
	color:#130909;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .section-2 .card {
      width: 13.9rem;
      border-radius: rounded;
      -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .section-2 .container-fluid .row .col-md-3 {
      margin-bottom: 20px;
  }
  .section-4 .heading-1 {
      margin-bottom: 5%;
      text-transform: uppercase;
      font-size: 1.9rem;
  }
  .section-4 h3 {
      font-size: 1.4rem;
      font-weight: 500;
  }
  .section-5 .heading-1 {
      font-size: 1.9rem;
  }

  .section-5 .heading-2 {
      font-size: 1.4rem;
  }
  .section-5 .card {
      width: 19rem;
  }
  .section-5 .container .row .col-md-4 {
      margin-bottom: 20px;
  }
  #services {
      margin-bottom: 3%;
  }
  #services div.row {
      padding: 0%;
  }
  #services div.row p {
      color:rgba(0,0,0,.5);
      font-size: 1.3rem;
  }
  #services div.row .slide .carousel-inner .carousel-item img {
      height: 600px;
      width: 100%;
  }
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .top-right li span {
      font-size: 12px;
    }
    .top-right li a {
      font-size: 12px;
    }
    .top-right li {
      line-height: 33px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    nav a {
        width: 55%;
    }
    .section-2 .container-fluid .row .col-md-3 {
        margin-bottom: 20px;
    }
    .section-2 .card {
        width: 11.7rem;
    }
    .section-3 div.row p {
        font-size: 1rem;
    }
    .section-3 div.row .slide .carousel-inner .carousel-item img {

    }
    .section-4 .heading-1 {
        font-size: 1.7rem;
    }
    .section-4 h3 {
        font-size: 1.3rem;
    }
    .section-5 .heading-1 {
        font-size: 1.8rem;
    }

    .section-5 .heading-2 {
        font-size: 1.2rem;
    }
    .section-5 .card {
        width: 14rem;
    }
    .section-5 .container .row .col-md-4 {
        margin-bottom: 20px;
    }
    #services div.row {
        padding: 0%;
    }
    #services div.row p {
        font-size: 1.1rem;
    }
    #services div.row .slide .carousel-inner .carousel-item img {
        height: 500px;
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width: 375px) {
    .section-2 .card {
        width: 22rem;
        border-radius: rounded;
        -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .section-2 .container-fluid .row .col-md-3 {
        margin-bottom: 20px;
    }
    .section-3 div.row p {
        font-size: 1rem;
    }
    .section-3 div.row .slide .carousel-inner .carousel-item img {

    }
    .section-4 .heading-1 {
        margin-bottom: 5%;
        text-transform: uppercase;
        font-size: 1.9rem;
    }
    .section-4 h3 {
        font-size: 1.4rem;
    }
    .section-5 .heading-1 {
        font-size: 1.9rem;
    }

    .section-5 .heading-2 {
        font-size: 1.4rem;
    }
    .section-5 .container .row .col-md-4 {
        margin-bottom: 20px;
    }
    #services div.row p {
        color:rgba(0,0,0,.5);
        font-size: 1rem;
    }
    #services div.row .slide .carousel-inner .carousel-item img {
        height: 350px;
        width: 100%;
    }
}
